body{
    margin: 0;
}

.links{
    display: flex;
    justify-content: flex-end;
      
    margin-top: 15px;
    
}

.links a{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    height: 20px;
    margin-top: 5px;
    

}

.links a:first-child{
    margin-right: 15px;
}

.links a:last-child{
    margin-right: 80px;
}

.links a:hover{
    text-decoration: underline;
}


    

    

    
}